.container {
	width: 1000px;
	border: 1px solid red;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
h2 {
	padding-left: 10px;
	background-color: yellow;
}
form {
	text-align: left;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
img {
	display: block;
}

input[type="text"], input[type="email"], input[type="password"] {
	display: block;
}

label {
/*	border: 1px solid green;
*/
}